@import "utils/colors";
@import "utils/media-queries";
@import "utils/variables";

.main-header {

    position: relative;
    z-index: $z-layout;

    padding-left: 1em;
    padding-right: 1em;

    @include mq-md {
        padding-top: 0.5em;
        padding-bottom: 0.5em;

    }

}
 