<header class="main-header">

    <div class="row row-between align-center">
        
        <div>

            <!-- <a class="mar-r text-accent" [routerLink]="['/']">
                Home
            </a> -->

            <a class="mar-r text-accent" [routerLink]="['/']">
                Plants List
            </a>

            <a class="mar-r text-accent" *ngIf="user" [routerLink]="['/plants/add']">
                Add Plant
            </a>

        </div>

        <!-- <div>
            <app-plant-search></app-plant-search>
        </div> -->

        <div>
            <!-- <small *ngIf="user">
                {{user.fullname}}
            </small> -->
            <a class="mar-r" *ngIf="user && user.isAdmin" [routerLink]="['/admin']">
                Admin
            </a>
            <a class="mar-r" [routerLink]="['/auth/login']" *ngIf="!user">
                Log in / Register
            </a>
            <a *ngIf="user" (click)="logout()">
                Logout
            </a>
        </div>

    </div>

</header>
