
<section class="container-sm pos-center">

    <h2>Login</h2>

    <form (ngSubmit)="login(userEmail.value, userPassword.value)">

        <div class="input-group">
            <label for="email" class="input-label">
                Email
            </label>
            <input class="input-text" placeholder="email@plantz.com" type="email" #userEmail name="email" required>
        </div>

        <div class="input-group">
            <label for="password" class="input-label">
                Password
            </label>
            <input class="input-text" placeholder="super!SecretPa55w0rd" type="password" #userPassword name="password" required>
        </div>

        <div class="input-group">
            <button class="btn-primary" type="submit">
                Log in
            </button>
            <br>
            <small>
                Don't have an account? <a [routerLink]="['/auth/register']" >Register</a> here
            </small>
        </div>

    </form>

</section>