// Color Palette
// -- Color variations are named using hundreds. The higher the number, the darker the color. Easily add in-between variations.

$color-primary:     #1fc391;
$color-primary-500: darken($color-primary, 25%);
$color-primary-400: $color-primary;
$color-primary-300: lighten($color-primary, 15%);
$color-primary-100: lighten($color-primary, 30%);
$color-primary-grad: linear-gradient(-45deg, $color-primary 0%, $color-primary-100 100%);

$color-secondary: #4b4bff;
$color-accent:   #f6bb3f; 

$color-success: #1AD1A8;
$color-danger:  #f82d59;

$color-white:   #fff;
$color-black:   #111;

$color-gray-500: mix( desaturate($color-primary, 70%), $color-black, 60% );
$color-gray-400: lighten($color-gray-500, 25%);
$color-gray-300: lighten($color-gray-400, 25%);
$color-gray-200: lighten($color-gray-300, 7%);
$color-gray-100: lighten($color-gray-200, 25%);

