
<form #addPlantForm="ngForm" (ngSubmit)="savePlant(addPlantForm)">

    <div class="row row-between align-center">
        <h2>
            Identity
        </h2>

        <button class="btn-secondary" type="button" (click)="lookUpPlant(plantName, plantScientificName)" [class.-is-loading]="loadingWiki" [disabled]="(plantName.value.length < 2 && plantScientificName.value.length < 2) || loadingWiki">
            Search Wikipedia
        </button>
    </div>

    <app-input-group label="Common name">
        <input class="input-text" type="text" [(ngModel)]="name" name="name" #plantName>
    </app-input-group>

    <app-input-group label="Scientific name">
        <input class="input-text" type="text" [(ngModel)]="scientificName" name="scientificName" #plantScientificName>
    </app-input-group>

    <app-input-group label="Genus">
        <input class="input-text" type="text" [(ngModel)]="genus" name="genus">
    </app-input-group>

    <app-input-group label="Species">
        <input class="input-text" type="text" [(ngModel)]="species" name="species">
    </app-input-group>

    <app-input-group label="Also known as">
        <input class="input-text" type="text" [(ngModel)]="aka" name="aka">
    </app-input-group>

    <app-input-group label="Images" description="Comma separated URLs">
        <input class="input-text" type="text" [(ngModel)]="image" name="image">
    </app-input-group>
    
    <app-input-group label="Summary">
        <textarea class="input-textarea" name="summary" [(ngModel)]="summary" #plantSummary></textarea>
    </app-input-group>

    <app-input-group label="Growth habit" class="-has-select">
        <select class="input-select" name="growthHabit" [(ngModel)]="growthHabit">
            <option value="Perennial">Perennial</option>
            <option value="Annual">Annual</option>
            <option value="Biennial">Biennial</option>
        </select>
    </app-input-group>


    <h2>
        Habitat
    </h2>

    <app-input-group label="Hardiness zone minimum">
        <input type="number" class="input-text" name="hardinessZoneMin" min="0" max="12" [(ngModel)]="hardinessZoneMin">
    </app-input-group>

    <app-input-group label="Hardiness zone maximum">
        <input type="number" class="input-text" name="hardinessZoneMax" min="0" max="12" [(ngModel)]="hardinessZoneMax">
    </app-input-group>

    <app-input-group label="Regions">
        <input class="input-text" name="regions" [(ngModel)]="regions">
    </app-input-group>
    
    <app-input-group label="Habitat" description="Hold [ctrl] or [cmd] to select multiple items">
        <select class="input-multi-select" name="habitat" [(ngModel)]="habitat" multiple>
            <option value="alpine">Alpine</option>
            <option value="bog">Bog</option>
            <option value="boreal">Boreal</option>
            <option value="desert">Desert</option>
            <option value="disturbed (human-caused)">Disturbed (human-caused)</option>
            <option value="field crop (managed)">Field crop (managed)</option>
            <option value="freshwater (lakes, rivers)">Freshwater (lakes, rivers)</option>
            <option value="marine">Marine</option>
            <option value="prairie">Prairie</option>
            <option value="salt marsh">Salt marsh</option>
            <option value="savanna">Savanna</option>
            <option value="shrublands">Shrublands</option>
            <option value="taiga">Taiga</option>
            <option value="temperate">Temperate</option>
            <option value="tree crop (managed)">Tree crop (managed)</option>
            <option value="tropical">Tropical</option>
            <option value="tundra">Tundra</option>
            <option value="wetland">Wetland</option>
        </select>
    </app-input-group>


    <h2>
        Description
    </h2>

    <app-input-group label="General description">
        <textarea class="input-textarea" name="generalDescription" [(ngModel)]="generalDescription"></textarea>
    </app-input-group>


    <app-input-group label="Leaf description">
        <textarea class="input-textarea" name="leafNotes" [(ngModel)]="leafNotes"></textarea>
    </app-input-group>

    <app-input-group label="Leaf images" description="Comma separated URLs">
        <input type="text" class="input-text" [(ngModel)]="leafImage" name="leafImage">
    </app-input-group>

    
    <app-input-group label="Flower description">
        <textarea class="input-textarea" name="flowerNotes" [(ngModel)]="flowerNotes"></textarea>
    </app-input-group>

    <app-input-group label="Flower images" description="Comma separated URLs">
        <input type="text" class="input-text" [(ngModel)]="flowerImage" name="flowerImage">
    </app-input-group>


    <app-input-group label="Fruit description">
        <textarea class="input-textarea" name="fruitNotes" [(ngModel)]="fruitNotes"></textarea>
    </app-input-group>

    <app-input-group label="Fruit images" description="Comma separated URLs">
        <input type="text" class="input-text" [(ngModel)]="fruitImage" name="fruitImage">
    </app-input-group>


    <app-input-group label="Seed description">
        <textarea class="input-textarea" name="seedNotes" [(ngModel)]="seedNotes"></textarea>
    </app-input-group>

    <app-input-group label="Seed images" description="Comma separated URLs">
        <input type="text" class="input-text" [(ngModel)]="seedImage" name="seedImage">
    </app-input-group>


    <app-input-group label="Stalk description">
        <textarea class="input-textarea" name="stalkNotes" [(ngModel)]="stalkNotes"></textarea>
    </app-input-group>

    <app-input-group label="Stalk images" description="Comma separated URLs">
        <input type="text" class="input-text" [(ngModel)]="stalkImage" name="stalkImage">
    </app-input-group>


    <app-input-group label="Root description">
        <textarea class="input-textarea" name="rootNotes" [(ngModel)]="rootNotes"></textarea>
    </app-input-group>

    <app-input-group label="Root images" description="Comma separated URLs">
        <input type="text" class="input-text" [(ngModel)]="rootImage" name="rootImage">
    </app-input-group>

    <app-input-group label="Profile" class="-has-select">
        <select class="input-select" name="profile" [(ngModel)]="profile">
            <option value="Large tree / canopy">Large tree / canopy</option>
            <option value="Shrub / sub-canopy ">Shrub / sub-canopy </option>
            <option value="Herbaceous">Herbaceous</option>
            <option value="Ground cover">Ground cover</option>
            <option value="Underground">Underground</option>
            <option value="Climbing / vining">Climbing / vining</option>
        </select>
    </app-input-group>


    <h2>
        Uses &amp; Benefits
    </h2>

    <app-input-group label="Is it edible?">
        <label for="edibilitytrue">
            Yes
            <input type="radio" value="true" id="edibilitytrue" name="edible" [(ngModel)]="edible">
        </label>
        
        <label for="edibilityfalse">
            No
            <input type="radio" value="false" id="edibilityfalse" name="edible" [(ngModel)]="edible">
        </label>
    </app-input-group>
    <app-input-group label="Edibility notes">
        <textarea class="input-textarea" name="edibleNotes" [(ngModel)]="edibleNotes"></textarea>
    </app-input-group>
        
    <app-input-group label="Is it useful for wildcrafting?">
        <label for="wildcraftingtrue">
            Yes
            <input type="radio" value="true" id="wildcraftingtrue" name="wildcraft" [(ngModel)]="wildcraft">
        </label>
        
        <label for="wildcraftingfalse">
            No
            <input type="radio" value="false" id="wildcraftingfalse" name="wildcraft" [(ngModel)]="wildcraft">
        </label>
    </app-input-group>
    <app-input-group label="Wildcrafting notes">
        <textarea class="input-textarea" name="wildcraftNotes" [(ngModel)]="wildcraftNotes"></textarea>
    </app-input-group>

    <app-input-group label="Is it medicinal?">
        <label for="medicinaltrue">
            Yes
            <input type="radio" value="true" id="medicinaltrue" name="medicinal" [(ngModel)]="medicinal">
        </label>
        
        <label for="medicinalfalse">
            No
            <input type="radio" value="false" id="medicinalfalse" name="medicinal" [(ngModel)]="medicinal">
        </label>
    </app-input-group>
    <app-input-group label="Medicinal notes">
        <textarea class="input-textarea" name="medicinalNotes" [(ngModel)]="medicinalNotes"></textarea>
    </app-input-group>

    <app-input-group label="Does it have agricultural value?">
        <label for="agriculturaltrue">
            Yes
            <input type="radio" value="true" id="agriculturaltrue" name="agriculture" [(ngModel)]="agriculture">
        </label>
        
        <label for="agriculturalfalse">
            No
            <input type="radio" value="false" id="agriculturalfalse" name="agriculture" [(ngModel)]="agriculture">
        </label>
    </app-input-group>
    <app-input-group label="Agricultural notes">
        <textarea class="input-textarea" name="agriculturalNotes" [(ngModel)]="agricultureNotes"></textarea>
    </app-input-group>

    <app-input-group label="What is its ecological niche?" description="Hold [ctrl] or [cmd] to select multiple items">
        <select class="input-multi-select" name="ecologicalNiche" [(ngModel)]="ecologicalNiche" multiple>
            <option value="Nitrogen fixer">Nitrogen fixer</option>
            <option value="Pollinator">Pollinator</option>
            <option value="Dynamic accumulator">Dynamic accumulator</option>
            <option value="Pest repellent">Pest repellent</option>
            <option value="Mulcher">Mulcher</option>
            <option value="Suppressor">Suppressor</option>
        </select>
    </app-input-group>
    <app-input-group label="Ecological niche notes">
        <textarea class="input-textarea" name="ecologicalNotes" [(ngModel)]="ecologicalNotes"></textarea>
    </app-input-group>


    <h2>
        Care
    </h2>

    <app-input-group label="Planting Schedule">
        <input class="input-text" name="plantingSchedule" [(ngModel)]="plantingSchedule">
    </app-input-group>

    <app-input-group label="Days to maturity">
        <input class="input-text" type="number" name="daysToMaturity" [(ngModel)]="daysToMaturity">
    </app-input-group>

    <app-input-group label="Caring instructions">
        <textarea class="input-textarea" name="instructions" [(ngModel)]="instructions"></textarea>
    </app-input-group>

    <app-input-group label="Germination instructions">
        <textarea class="input-textarea" name="germination" [(ngModel)]="germination"></textarea>
    </app-input-group>

    <app-input-group label="Soil PH">
        <input class="input-text" type="number" name="soilPh" min="0" max="10" [(ngModel)]="soilPh">
    </app-input-group>

    <app-input-group label="Nutrition requirements">
        <textarea class="input-textarea" name="nutrition" [(ngModel)]="nutrition"></textarea>
    </app-input-group>

    <app-input-group label="Light requirements" class="-has-select">
        <select class="input-select" name="light" [(ngModel)]="light">
            <option value="shade tolerant">shade tolerant</option>
            <option value="low light">low light</option>
            <option value="partial sun">partial sun</option>
            <option value="full sun">full sun</option>
        </select>
    </app-input-group>

    <app-input-group label="Moisture requirements" class="-has-select">
        <select class="input-select" name="moisture" [(ngModel)]="moisture">
            <option value="drought tolerant">drought tolerant</option>
            <option value="low moisture">lower moisture</option>
            <option value="high moisture">high moisture</option>
            <option value="wet feet">wet feet</option>
        </select>
    </app-input-group>


    <h2>
        Warnings
    </h2>

    <app-input-group label="Poisonous">
        <label for="poisonoustrue">
            True
            <input type="radio" value="true" id="poisonoustrue" name="poisonous" [(ngModel)]="poisonous">
        </label>
        
        <label for="poisonousfalse">
            False
            <input type="radio" value="false" id="poisonousfalse" name="poisonous" [(ngModel)]="poisonous">
        </label>
    </app-input-group>

    <app-input-group label="Invasive">
        <label for="invasivetrue">
            True
            <input type="radio" value="true" id="invasivetrue" name="invasive" [(ngModel)]="invasive">
        </label>
        
        <label for="invasivefalse">
            False
            <input type="radio" value="false" id="invasivefalse" name="invasive" [(ngModel)]="invasive">
        </label>
    </app-input-group>

    <app-input-group label="Allelopathic">
        <label for="allelopathictrue">
            True
            <input type="radio" value="true" id="allelopathictrue" name="allelopathic" [(ngModel)]="allelopathic">
        </label>
        
        <label for="allelopathicfalse">
            False
            <input type="radio" value="false" id="allelopathicfalse" name="allelopathic" [(ngModel)]="allelopathic">
        </label>
    </app-input-group>


    <h2>
        References
    </h2>

    <app-input-group label="References and sources">
        <input class="input-text" type="text" name="references" [(ngModel)]="references">
    </app-input-group>

    <app-input-group class="text-right">
        <button class="btn-primary" type="submit" [disabled]="plantName.value.length < 2 || plantScientificName.value.length < 2 || loadingWiki || plantSummary.value.length < 8">
            Save plant
        </button>
    </app-input-group>  

</form>