
<section class="section container-lg pos-center">

    <h1>Plants List</h1>

    <div class="row align-start row-gutters">

        <div class="card col-33" *ngFor="let p of plants" id="{{p._id}}">

            <figure class="card-image">
                <img src="{{p.identity.images}}" alt="">
            </figure>

            <div class="card-content">
                <h3>
                    {{p.identity.name}}
                </h3>
                <em>
                    {{p.identity.scientificName}}
                </em>
                <h5 *ngIf="p.identity.aka">
                    AKA: {{p.identity.aka}}
                </h5>

                <h6>
                    Growth Habit: {{p.identity.growthHabit}}
                </h6>

                <p>
                    {{p.identity.summary}}
                </p>

                <a [routerLink]="['/plants/', p._id]">View Plant Profile</a>
            </div>

        </div>

    </div>

</section>
    