<article class="page-container">

    <header class="page-sidebar">
        
        <div class="container-xs">
            <h3>
                Plant Search
            </h3>

            <app-input-group description="Use scientific or common names, or by growth habit: 'perennial'">
                <app-plant-search></app-plant-search>
            </app-input-group>
        </div>

        <!-- <h3 class="mar-t-lg">
            Filter Plants
        </h3>

        <app-plant-filter (sendFilters)="onFilter($event)"></app-plant-filter> -->

    </header>

    <div class="page-content">

        <h1>Useful plants</h1>

        <div class="row-33">

            <ng-container *ngFor="let p of plants">
                <app-plant-card [plant]="p"></app-plant-card>
            </ng-container>

        </div>

    </div>
    
</article>