
<article class="pad-t-lg page-container" *ngIf="plant">

    <header class="page-sidebar">
        
        <div class="page-image-roll">
            <img *ngFor="let img of plant.identity.images" class="page-image" src="{{img}}" alt="{{plant.identity.name}}">
        </div>

        <app-data [meta]="plant.identity.scientificName">
            <h1>
                {{plant.identity.name}}
            </h1>
        </app-data>

        <app-data label="Growth Habit" [content]="plant.identity.growthHabit"></app-data>

        <app-data label="Summary" [content]="plant.identity.summary"></app-data>

        <menu class="row row-between">
            <a class="btn-tertiary" [routerLink]="['/plants/edit', plant._id]">
                Edit plant
            </a>

            <a class="btn-tertiary"(click)="delete(plant._id)">
                Delete plant
            </a>
        </menu>

    </header>

    <div class="page-content">
        
        <section class="page-card">

            <h2>
                Habitat
            </h2>

            <app-data label="Hardiness Zones" content="{{plant.identity.habitat.hardinessZoneMin}} - {{plant.identity.habitat.hardinessZoneMax}}"></app-data>

            <app-data label="Regions" [content]="plant.identity.habitat.regions"></app-data>

            <app-data label="Habitat" [content]="plant.identity.habitat.habitat"></app-data>

        </section>

        <section class="page-card">

            <app-data [content]="plant.identity.description.general">
                <h2>
                    Description
                </h2>
            </app-data>
    
            <app-data label="Profile" [content]="plant.identity.description.profile"></app-data>
    
            <app-data label="Leaves" [content]="plant.identity.description.leaves"></app-data>

            <app-data label="Flowers" [content]="plant.identity.description.flowers"></app-data>

            <app-data label="Seeds" [content]="plant.identity.description.seeds"></app-data>

            <app-data label="Fruit" [content]="plant.identity.description.fruit"></app-data>

        </section>

        <section class="page-card">

            <h2>
                Uses
            </h2>

            <app-data label="Edible" [content]="plant.uses.edible.notes"></app-data>

            <app-data label="Wildcraft" [content]="plant.uses.wildcraft.notes"></app-data>

            <app-data label="Medicinal" [content]="plant.uses.medicinal.notes"></app-data>

            <app-data label="Agricultural" [content]="plant.uses.agricultural.notes"></app-data>

            <app-data label="Ecological" [content]="plant.uses.ecological.notes"></app-data>

        </section>

        <section class="page-card">

            <h2>
                Care
            </h2>

            <app-data label="Planting Schedule" [content]="plant.care.plantingSchedule"></app-data>

            <app-data label="Days to Maturity" [content]="plant.care.daysToMaturity"></app-data>

            <app-data label="Planting Instructions" [content]="plant.care.plantingInstructions"></app-data>

            <app-data label="Germination Instructions" [content]="plant.care.germinationInstructions"></app-data>

            <app-data label="Soil PH Requirements" [content]="plant.care.soilPH"></app-data>

            <app-data label="Nutrition Requirements" [content]="plant.care.nutrition"></app-data>

            <app-data label="Light Requirements" [content]="plant.care.light"></app-data>

            <app-data label="Moisture Requirements" [content]="plant.care.moisture"></app-data>

        </section>

        <section class="page-card">

            <h2>
                Warnings
            </h2>

            <app-data label="Poisonous" content="{{plant.warnings.poisonous}}"></app-data>

            <app-data label="Invasive" content="{{plant.warnings.invasive}}"></app-data>

            <app-data label="Allelopathic" content="{{plant.warnings.allelopathic}}"></app-data>

        </section>

        <section class="page-card">

            <h2>
                Related Plants
            </h2>

            <app-data label="Wild Companions (Commonly found in the wild with...)">
                <ul>
                    <li *ngFor="let c of plant.related.wildCompanions">
                        <a [routerLink]="['/plants/', c._id]">
                            {{c.name}}
                        </a>
                    </li>
                </ul>
            </app-data>

            <app-data label="Planted Companions (Commonly planted with...)">
                <ul>
                    <li *ngFor="let c of plant.related.domesticCompanions">
                        <a [routerLink]="['/plants/', c._id]">
                            {{c.name}}
                        </a>
                    </li>
                </ul>
            </app-data>

        </section>

        <section class="page-card">

            <h2 class="page-heading">
                References &amp; Sources
            </h2>
            <ul>
                <li><a [href]="plant.references">{{plant.references}}</a></li>
            </ul>

        </section>

    </div>

</article>